Applications
Desktop
Downloads
Music
'New Folder'
Pictures
Public
Templates
Videos
awesome-git
copycats
elenapan
feh_045801_000001_wallhaven-6o1pl7.jpg
fonts.txt
fontsnerd
hs
mycode
pfetch
picomjon
pyrit
qtile-git
rockyou
snap
.Xauthority
.atom/
.bash_history
.bash_logout
.cache/
.cert/
.face
.face.icon
.fehbg
.files/
.fonts/
.gnupg/
.icons/
.kde/
.lesshst
.local/
.mozilla/
.nvidia-settings-rc
.oh-my-zsh/
.pki/
.profile
.python_history
.shell.pre-oh-my-zsh
.spectrwm.conf.bu
.sudo_as_admin_successful
.themes/
.var/
.wget-hsts
.xfiles/
.xsession-errors
.zcompdump
.zcompdump-IdeaPad-Gaming-3-15ACH6-5.8.1
.zsh_history
2022-05-24 08-14-26.mkv
New Folder/
To-do.txt
.githubtoken
.gitconfig
.githubDOTFILEStoken
pythondev
neovim-git
.config/Code/
.npm/
.viminfo
.vscode/
nerdfonts/
node_modules/
package-lock.json
package.json
gio-glib
.cpan/
asciiquarium/
perl5/
.cargo/
.github/
.pyrit/
.vboxclient-clipboard.pid
.vboxclient-display-svga-x11.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.wallpaper/
.zcompdump-archlinux-5.9
Other/
Repos/
.config/geany/geany_socket_archlinux__0
.mypy_cache/
.rustup/
.vscode-oss/
.config/Code - OSS/
.config/gpick/
.config/discord
.config/GIMP/
.config/GIMP/
