Atom
KDE
QtProject.conf
Trolltech.conf
akregatorrc
appimagelauncher.cfg
arkrc
baloofileinformationrc
bluedevilglobalrc
discoverrc
dolphinrc
drkonqirc
elisarc
fontconfig
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kded_device_automounterrc
kdedefaults
kdeglobals
kfontinstuirc
kfontviewrc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
klaunchrc
kmixrc
konsolerc
korgacrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
mimeapps.list
obs-studio
okularpartrc
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
protonvpn
pulse
qt5ct
sddmthemeinstallerrc
session
spectaclerc
systemd
systemmonitorrc
systemsettingsrc
torbrowser
touchpadxlibinputrc
trashrc
user-dirs.dirs
user-dirs.locale
vlc
xdg-desktop-portal-kderc
nordic-awesome


